.img_printer {background-image:url('../img/printer.png') !important;}
.img_terminal {background-image:url('../img/terminal.png') !important;}
.img_theme {background-image:url('../img/theme.png') !important;}
.img_demo {background-image:url('../img/demo.png') !important;}

.rtl {direction :RTL;}
.right {text-align:right;}


